@charset "utf-8";
/* CSS Document */

body {
	background-color:#FFF; 
	font-family:Droid Sans, Helvetica, sans-serif;
	font-size:14px;
	color:#1e2934;
	background-image:url(../../images/bg.png);
	line-height:18px;
	letter-spacing:-1px;
}
a {
	color:#FFF
}
a:hover {
	color:#45c7d3
}
#container {
	width: 100%;
	margin: 0 auto;
}
.wrap {
	position: relative;
	padding: 0 0 0 0;
	margin: 0 0 0 0!important;
	text-align: center;
	background: #1e2934;
}
.wrap2 {
	position: relative;
	padding: 0 0 0 0;
	margin: 0 0 0 0!important;
	text-align: center;
}
.inner {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	padding: 0px 25px 0px 25px;
}
/*-------------------------------------------------------------------------*/
/* HEADER & FOOTER */
/*-------------------------------------------------------------------------*/

/* HEADER */
.header {
	font-size:13px;
	color:#FFF
}
.header a {
	text-decoration:none
}
.head {
	border-bottom:solid 1px #344b61;
	text-align:center
}
.head .t {
	position:relative;
	z-index:3;
	color:#67737e;
	width:100%;
	float:left;
	bottom:-9px;
}
.header .menu-cont {
	display:block
}
.header .responsive-menu {
	display:none
}
.header .logo {
	float:left;
	padding:50px 0px 20px 0px
}
.header .menu-cont {
	float:right;
	margin:58px 0px 0px 0px
}
.header .menu-cont li {
	float:left;
	margin:0px 0px 0px 15px;
	font-weight:bold
}
.header .menu-cont .cart {
	margin:0px 0px 0px 45px;
}


#responsive-menu-icon {
	width:30px;
	height:30px;
	background-color:#45c7d3;
	text-align:center;
	float:right;
	display:none;
	cursor:pointer;
	border-radius:2px;
}
#responsive-menu-icon:hover {
	background-color:#ffae00; 
}
#responsive-menu-icon span {
	margin-bottom:2px;
	width:14px;
	height:3px;
	background-color:#FFF;
	float:left;
	margin-left:8px;
}

 #responsive-menu-icon .a {
  margin-top:8px;
  float:left
} 
.menu-item {
	font-size:130%;
}

/* @media all and (max-width: 785px) {
 .header .logo {
text-align:center;
float:inherit;
 padding:30px 0px 10px 0px
}
#responsive-menu-icon {
 display:block;
}
.header .menu-cont {
  float:left;
  width:100%;
  margin:0px 0px 15px 0px
}
.header .menu-cont li {
  margin:1px 0px 0px 0px;
  font-weight:bold;
  background-color:#263340;
  padding:10px 0 10px 0;
  width:100%;
  cursor:pointer
}
.header .menu-cont li:hover {
  background-color:#364655;
}

} */ 
/* HEADER PATH */

.header-path {
	text-align:left;
	color:#9fa9b3;
	font-size:14px;
	letter-spacing:-1px;
}
.header-path h1 {
	padding:15px 0;
}
.header-path p {
	padding:15px 0;
}
/* FOOTER */
.footer .inner {
	margin-top:50px;
	padding-bottom: 25px !important;
	color:#333
}
.footer .maintitle {
	border-bottom:#cad5e0 solid 1px;
	font-size:14px;
}
.footer .maintitle p {
	position:relative;
	z-index:1;
	color:#9fa9b3;
	width:100%;
	float:left;
	top:-9px;
}
.footer .left {
	float:left;
	width:45%;
	text-align:left
}
.footer .subscribe-title, .blog-title {
	font-size:16px;
	color:#97a4b0;
	width:100%;
	float:left;
	margin:30px 0px 30px 0px
}
.footer .subscribe-desc {
	font-size:16px;
	color:#1e2934;
	width:100%;
	float:left;
	margin:0px 0px 20px 0px;
	line-height:23px;
}
.subscribe-form {
	float:left;
	padding:10px;
	border:#1e2934 solid 1px;
	background-color:none;
	width:50%;
	border-radius:2px;
	margin-right:2px;
}
.subscribe-button {
	float:left;
	background-color:#1e2934;
	color:#FFF;
	font-size:14px;
	padding:10px 20px;
	top:2px;
	position:relative;
	border-radius:2px;
}
.subscribe-button:hover {
	background-color:#45c7d3;
	color:#FFF
}
.credits {
	width:100%;
	float:left;
	margin:60px 0px 20px 0px;
	color:#3f5164;
}
.credits a{
	color:#97a4b0;
}
.credits a:hover{
	color:#45c7d3;
}
.footer .right {
	float:right;
	width:45%;
	text-align:left
}
.footer .blog-results {
	float:left
}
.footer .blog-results ul {
	width:100%
}
.footer .blog-results li {
	margin:0px 0px 9px 0px
}
.footer .blog-results li a{
	font-size:16px;
	color:#1e2934;
}
.footer .blog-results li a:hover{
	color:#45c7d3;
}
.footer .sitemap {
	float:left;
	margin-top:33px;
	color:#3f5164;
	width:100%
}
.footer .sitemap a {
	color:#3f5164
}
.footer .sitemap a:hover {
	color:#45c7d3
}
.footer .sitemap li {
	float:left;
	margin-right:15px;
}
@media all and (max-width: 785px) {
	.footer .right {
		width:100%
	}
	.footer .left {
		width:100%
	}
	.header-path h1 {
		padding:15px 0;
		text-align:center
	}
	.header-path p {
		padding:15px 0;
		text-align:center
	}
}
/*-------------------------------------------------------------------------*/
/* Home // Slideshow */
/*-------------------------------------------------------------------------*/

.slideshow .slider {
	border-top:solid 1px #1e2934;
	border-bottom:solid 1px #344b61;
	width:100%;
	color:#FFF
}
.slideshow h2 {
	margin:70px 0px 0px 0px;
	line-height:39px;
	font-size:39px;
	font-family: 'Exo 2', sans-serif;
	letter-spacing:-0.5px;
	font-weight: 700 !important;
}
.slideshow h1 {
	color:#83919e;
	font-size:16px;
	font-family: 'Exo 2', sans-serif;
	letter-spacing:-0.5px;
	margin:5px 0px 0px 0px;
}
.slideshow h3 {
	margin: 45px 0px 85px 0px;
}
.slideshow a {
	background-color:#45c7d3;
	margin:0 auto;
	border-radius:2px;
	padding:12px 20px 14px 20px;
	font-size:17px;
	margin: 15px 0px 80px 0px;
	-moz-box-shadow: 0px 2px 0px 0px #384d62;
	-webkit-box-shadow: 0px 2px 0px 0px #384d62;
	box-shadow: 0px 2px 0px 0px #384d62;
}
.slideshow a:hover {
	background-color:#ffae00;
	color:#FFF
}
.slideshow a:active {
	background-color:#ffae00;
	box-shadow: 0px 1px 0px 0px #333;
	position:relative;
	top:1px;
}
@media all and (max-width: 785px) {
	.slideshow .slogan {
		margin:30px 0px 0px 0px;
	}
	.slideshow .browse {
		margin: 45px 0px 50px 0px;
	}
}

/* Home // Latest Themes */

.home .latestthemes {
	background-color:#1e2934
}
.home .latestthemes .title {
	position:relative;
	z-index:1;
	color:#67737e;
	width:100%;
	float:left;
	top:-9px;
}
.home .latestthemes .themes {
	width:50%;
	float:left;
	display:block;
	margin-top:30px;
	padding-bottom:30px;
}
.home .latestthemes .themes .inside {
	float:left;
	margin: 0 10px;
}
.home .latestthemes .themes img {
	width:100%;
	max-width:480px;
	height:auto;
	padding-bottom:20px;
}
.home .latestthemes .themes .theme-title {
	color:#83919e;
	font-size:16px;
	clear:both;
}
@media all and (max-width: 565px) {
	.home .latestthemes .themes {
		width:100%;
		padding-bottom:20px;
		margin-top:0px;
	}
}

/* Home // Features */

.home .features .inner {
	margin-top:50px;
	padding-bottom: 10px !important;
	color:#333
}
.home .features .item {
	float:left;
	width:25%;
}
.home .features .maintitle {
	border-bottom:#cad5e0 solid 1px;
	font-size:14px;
}
.home .features .maintitle p {
	position:relative;
	z-index:1;
	color:#9fa9b3;
	width:100%;
	float:left;
	top:-9px;
	margin-bottom:25px;
}
.home .features .item .inside {
	margin:0 15px;
}
.features .item img {
	margin:0px 0px 10px 0px
}
.home .features .item span {
	width:100%;
	font-size:16px;
	float:left;
	margin:0px 0px 10px 0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#97a4b0
}
.home .features .item p {
	margin:0px 0px 0px 0px;
	width:100%;
	font-size:14px;
}

#item-list {
	background:#eef2f7;
	color:#555;
	list-style: none;
	margin-left: 100px;
	margin-right: 100px;
	min-height: 0px; /*250*/
	padding: 10px;
}

#item-list .notice {
	font-size: 16px;
	padding: 60px;
	text-align: center;
}

.itm {
	align-items: center;
	border-bottom: 1px solid #FFFFFF;
	display: flex;
	margin: 10px;
	padding: 15px;
	transition: background-color 100ms linear;
}

.itm:last-child {
	border: none;
}

.itm:hover {
	background: rgba(255, 255, 255, 0.8);
	transition: background-color 100ms linear;
}

.itm img {
	border: 1px solid #FFFFFF;
	height: 80px;
	width: 80px;
}

.itm>div:first-of-type {
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}

.item-name {
	color: #624630;
	font-weight: 400;
	text-decoration: none;
}

.item-name:hover {
	text-decoration: underline;
}

.item-address {
	line-height: 20px;
	padding-right: 20px;
	text-align: right;
}

.stars {
	align-items: center;
	display: flex;
	padding-top: 10px;
}

.fav-link {
	border-left: 1px solid #FFFFFF;
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	width: 60px;
}

.fav-link:hover {
	color: #F13F3F;
}

 @media all and (max-width: 565px) {
	.home .features .maintitle p {
		margin-bottom:0px;
	}
	.home .features .item {
		float:left;
		width:50%;
	margin-top:20px;
	}
}


/* Home // Testimonials 


.home .testimonials .inner {
	margin-top:50px;
	padding-bottom: 0px !important;
	color:#333
}
.home .testimonials .maintitle {
	border-bottom:#cad5e0 solid 1px;
	font-size:14px;
	margin-bottom:50px;
}
.home .testimonials .maintitle p {
	position:relative;
	z-index:1;
	color:#9fa9b3;
	width:100%;
	float:left;
	top:-9px;
	margin-bottom:25px;
}
.home .testimonials .item img {
	margin-top:-1px;
	border-radius: 2px;
}
.home .testimonials .desc {
	margin:10px auto;
	max-width:600px;
	font-size:16px;
	line-height:24px;
	letter-spacing:-1px;
}


/* Home // Freebies */


.home .freebies .inner {
	margin-top:50px;
	padding-bottom: 0px !important;
	color:#333;
}
.home .freebies .maintitle {
	border-bottom:#cad5e0 solid 1px;
	font-size:14px;
}
.home .freebies .maintitle p {
	position:relative;
	z-index:1;
	color:#9fa9b3;
	width:100%;
	float:left;
	top:-9px;
	margin-bottom:25px;
}
.home .freebies .item img {
	border-radius: 2px;
	margin-top:-1px;
}

/*-------------------------------------------------------------------------*/
/* Themes Page */
/*-------------------------------------------------------------------------*/

.themes .latestthemes {
	background-color:transparent;
	color:#9fa9b3;
	font-size:16px;
	padding-top:45px;
	
}
.themes .latestthemes .categories {
	margin:30px 0px 30px 0px
}
.themes .latestthemes .categories span {
	margin-right:15px;
}
.themes .latestthemes .categories .selected {
	margin-right:15px;
	border:solid 1px #1e2934;
	padding:5px 10px;
	color:#1e2934
}
.themes .latestthemes h2 a{
	width:100%;
	margin:15px 0 0px 0;
	float:left;
	color:#67737e
}
.themes .latestthemes p {
	margin:10px 0 25px 0;
	line-height:21px;
	font-size:14px;
	width:100%;
	text-align:center;
	float:left;
}
.themes .latestthemes .themes {
	width:50%;
	float:left;
	margin-bottom:10px;
}
.themes .latestthemes .themes .inside {
	float:left;
	margin: 0 10px;
}
.themes .latestthemes .themes img {
	width:100% !important;
	max-width:480px;
	height:auto;
}
@media all and (max-width: 565px) {
	.themes .latestthemes .themes {
		width:100%;
	}
}
/*-------------------------------------------------------------------------*/
/* Theme Single */
/*-------------------------------------------------------------------------*/

.single-themes .themes-details {
	padding-bottom:45px;
}
.single-themes .themes-details .desc {
	width:45%;
	float:left;
	margin-top:40px;
	text-align:left
}
.single-themes .themes-details .desc .path {
	margin-bottom:60px;
	color:#97a4b0;
}

.single-themes .themes-details .desc .buy {
	background-color:#45c7d3;
	margin:0 auto;
	border-radius:2px;
	padding:14px 45px 14px 45px;
	font-size:20px;
	margin: 15px 0px 80px 0px;
	color:#FFF
}
.single-themes .themes-details .desc .demo {
	background-color:#ffba00;
	margin:0 auto;
	border-radius:2px;
	padding:14px 45px 14px 45px;
	font-size:20px;
	margin: 15px 0px 80px 0px;
	color:#FFF;
	margin-left:2px;
}
.single-themes .themes-details .desc h2 {
	margin-top:50px;
	color:#97a4b0;
	font-size:16px;
}
.single-themes .themes-details .desc .txt {
	margin-top:15px;
	font-size:16px;
	line-height:24px;
}
.single-themes .themes-details .thumb {
	width:45%;
	float:right;
	margin-top:40px;
}
.single-themes .themes-details .content {
	float:left;
	margin-top:40px;
	width:100%;
}
.single-themes .themes-details .content img {
	width:100%;
	height:auto;
	margin-bottom:2px;
}
@media all and (max-width: 700px) {
	.single-themes .themes-details .desc {
		width:100%;
		float:inherit;
		margin-top:40px;
		text-align:center
	}
	.single-themes .themes-details .thumb {
		width:100%;
	}
}
@media all and (max-width: 500px) {
	.single-themes .themes-details .thumb img {
		width:100%;
		height:auto
	}
}
/*Theme features*/

.single-themes .features .inner {
	margin-top:0px;
	padding-bottom: 50px !important;
	color:#333
}
.single-themes .features .item {
	float:left;
	width:25%;
}
.single-themes .features .maintitle {
	border-bottom:#cad5e0 solid 1px;
	font-size:14px;
}
.single-themes .features .maintitle p {
	position:relative;
	z-index:1;
	color:#9fa9b3;
	width:100%;
	float:left;
	top:-9px;
	margin-bottom:25px;
}
.single-themes .features .item .inside {
	margin:0 15px;
}
.single-themes .features .item img {
	margin:0px 0px 10px 0px
}
.single-themes .features .item span {
	width:100%;
	font-size:16px;
	float:left;
	margin:0px 0px 10px 0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#97a4b0
}
.single-themes .features .item p {
	margin:0px 0px 0px 0px;
	width:100%;
	font-size:14px;
}
 @media all and (max-width: 565px) {
.single-themes .features .maintitle p {
 margin-bottom:0px;
}
.single-themes .features .item {
 float:left;
 width:50%;
 margin-top:20px;
}
}
/* Other Themes */

.single-themes .otherthemes {
	background-color:transparent;
	color:#9fa9b3;
	font-size:16px;
}
.single-themes .maintitle {
	border-bottom:#cad5e0 solid 1px;
	font-size:14px;
}
.single-themes .maintitle p {
	position:relative;
	z-index:1;
	color:#9fa9b3;
	width:100%;
	float:left;
	top:-9px;
}
.single-themes .otherthemes .title {
	width:100%;
	margin:15px 0 0px 0;
	float:left;
	color:#67737e
}
.single-themes .otherthemes .desc {
	margin:10px 0 25px 0;
	line-height:21px;
	font-size:14px;
	;
	width:100%;
	text-align:center;
	float:left;
}
.single-themes .otherthemes .themes {
	width:50%;
	float:left;
	margin-top:30px;
	margin-bottom:0px;
}
.single-themes .otherthemes .themes .inside {
	float:left;
	margin: 0 10px;
}
.single-themes .otherthemes .themes img {
	max-width:480px; 
	width:100% !important;
	height:auto;
}
@media all and (max-width: 565px) {
	.single-themes .otherthemes .themes {
		width:100%;
	}
}

/*-------------------------------------------------------------------------*/
/* Features Page */
/*-------------------------------------------------------------------------*/
.themes-features .features .inner {
	margin-top:15px;
	padding-bottom: 10px !important;
	color:#333
}
.themes-features .features .item {
	float:left;
	width:25%;
	margin:40px 0px 0px 0px
}
.themes-features .features .item .inside {
	margin:0 15px;
}
.themes-features .item img {
	margin:0px 0px 10px 0px
}
.themes-features .features .item h3 {
	width:100%;
	font-size:16px;
	float:left;
	margin:0px 0px 10px 0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#97a4b0
}
.themes-features .features .item p {
	margin:0px 0px 0px 0px;
	width:100%;
	font-size:14px;
}
@media all and (max-width: 565px) {
	.themes-features .features .item {
		float:left;
		width:50%;
		margin:40px 0px 0px 0px
	}
}

/*-------------------------------------------------------------------------*/
/* Freebies Page */
/*-------------------------------------------------------------------------*/

.freebies-page .freebies .inner {
	margin-top:50px;
	padding-bottom: 0px !important;
	color:#333;
}
.freebies-page .freebies .item img {
	border-radius: 2px;
	margin-top:-1px
}
/*-------------------------------------------------------------------------*/
/* **Freebie-single */
/*-------------------------------------------------------------------------*/

.single-freebies .freebies h1 {
	font-size:18px;
	color:#369;
	float:left;
	margin:25px 0;
}
.single-freebies .freebies img {
	width:100%;
	height:auto;
	margin-bottom:20px;
}
.single-freebies .freebies p {
	max-width:700px;
	float:left;
	text-align:left;
	font-size:16px;
	line-height:24px;
}
.single-freebies .freebies p img{
	max-width:700px;
	margin:15px 0;
	float:left;

}
.single-freebies .freebies .buttons a {
	width:70%;
	float:right;
	background-color:#45c7d3;
	color:#FFF;
	font-size:16px;
	padding:17px 17px;
	top:2px;
	position:relative;
	border-radius:2px;
	margin-left:15px;
}
.single-freebies .freebies .buttons .demo {
	background-color:#F90;
}
.single-freebies .freebies .buttons .demo:hover {
	background-color:#F33;
}
.single-freebies .freebies .buttons {
	width:20%;
	float:right;
}
.single-freebies .freebies a:hover {
	background-color:#45d392
}
.single-freebies .freebies a:active {
	background-color:#000
}

.single-freebies .freebies .demo {
	margin-bottom:5px;
	width:70%;
	float:right;
	background-color:#CE654D;
	color:#FFF;
	font-size:16px;
	padding:17px 17px;
	top:2px;
	position:relative;
	border-radius:2px;
	margin-left:15px;
}

@media all and (max-width: 1000px) {
	.single-freebies .freebies p {
		width:100%;
		max-width:100%;
		float:left;
		margin-bottom:20px;
	}
	.single-freebies .freebies .buttons{
		float:left;
		width:250px;
		text-align:left;
		
	}
.single-freebies .freebies .buttons a {
	float:left;
	margin-left:0px;
}
}

/* other freebies */

.single-freebies .other-freebies .inner {
	margin-top:50px;
	padding-bottom: 0px !important;
	color:#333;
}
.single-freebies .other-freebies .maintitle {
	border-bottom:#cad5e0 solid 1px;
	font-size:14px;
}
.single-freebies .other-freebies .maintitle p {
	position:relative;
	z-index:1;
	color:#9fa9b3;
	width:100%;
	float:left;
	top:-9px;
	margin-bottom:25px;
}
.single-freebies .other-freebies .item img {
	border-radius: 2px;
	margin-top:-1px;
}

/*-------------------------------------------------------------------------*/
/* Plugins Single */
/*-------------------------------------------------------------------------*/

.plugins-page .plugins .inner {
	margin-top:45px;
}
.plugins-page .plugins {
	background-color:transparent;
	color:#9fa9b3;
	font-size:16px;
}
.plugins-page .plugins h2 a{
	width:100%;
	margin:15px 0 0px 0;
	float:left;
	color:#67737e
}
.plugins-page .plugins p {
	margin:10px 0 25px 0;
	line-height:21px;
	font-size:14px;
	;
	width:100%;
	text-align:center;
	float:left;
}
.plugins-page .plugins .themes {
	width:50%;
	float:left;
	margin-bottom:10px;
}
.plugins-page .plugins .themes .inside {
	float:left;
	margin: 0 10px;
}
.plugins-page .plugins .themes img {
	width:100% !important;
	max-width:480px;
	height:auto;
}
@media all and (max-width: 565px) {
	.plugins-page .plugins .themes {
		width:100%;
	}
}



/*-------------------------------------------------------------------------*/
/* Plugins Single */
/*-------------------------------------------------------------------------*/

.single-plugins .themes-details {
	padding-bottom:45px;
}
.single-plugins .themes-details .desc {
	width:45%;
	float:left;
	margin-top:40px;
	text-align:left
}
.single-plugins .themes-details .desc .path {
	margin-bottom:60px;
	color:#97a4b0;
}

.single-plugins .themes-details .desc .buy {
	background-color:#45c7d3;
	margin:0 auto;
	border-radius:2px;
	padding:14px 65px 14px 65px;
	font-size:20px;
	margin: 15px 0px 80px 0px;
	color:#FFF
}
.single-plugins .themes-details .desc .demo {
	background-color:#ffba00;
	margin:0 auto;
	border-radius:2px;
	padding:14px 45px 14px 45px;
	font-size:20px;
	margin: 15px 0px 80px 0px;
	color:#FFF;
	margin-left:2px;
}
.single-plugins .themes-details .desc h2 {
	margin-top:50px;
	color:#97a4b0;
	font-size:16px;
}
.single-plugins .themes-details .desc .txt {
	margin-top:15px;
	font-size:16px;
	line-height:24px;
}
.single-plugins .themes-details .thumb {
	width:45%;
	float:right;
	margin-top:40px;
}
.single-plugins .themes-details .content {
	float:left;
	margin-top:40px;
	width:100%;
}
.single-plugins .themes-details .content img {
	width:100%;
	height:auto;
	margin-bottom:2px;
}
@media all and (max-width: 700px) {
	.single-plugins .themes-details .desc {
		width:100%;
		float:inherit;
		margin-top:40px;
		text-align:center
	}
	.single-plugins .themes-details .thumb {
		width:100%;
	}
}
@media all and (max-width: 500px) {
	.single-plugins .themes-details .thumb img {
		width:100%;
		height:auto
	}
}
/* Other plugins */

.single-plugins .otherplugins {
	background-color:transparent;
	color:#9fa9b3;
	font-size:16px;
}
.single-plugins .maintitle {
	border-bottom:#cad5e0 solid 1px;
	font-size:14px;
}
.single-plugins .maintitle p {
	position:relative;
	z-index:1;
	color:#9fa9b3;
	width:100%;
	float:left;
	top:-9px;
}
.single-plugins .otherplugins .title {
	width:100%;
	margin:15px 0 0px 0;
	float:left;
	color:#67737e
}
.single-plugins .otherplugins .desc {
	margin:10px 0 25px 0;
	line-height:21px;
	font-size:14px;
	;
	width:100%;
	text-align:center;
	float:left;
}
.single-plugins .otherplugins .themes {
	width:50%;
	float:left;
	margin-top:30px;
	margin-bottom:0px;
}
.single-plugins .otherplugins .themes .inside {
	float:left;
	margin: 0 5px;
}
.single-plugins .otherplugins .themes img {
	width:100% !important;
	height:auto;
}
@media all and (max-width: 565px) {
	.single-plugins .otherplugins .themes {
		width:100%;
	}
}

/*-------------------------------------------------------------------------*/
/* Blog Page */
/*-------------------------------------------------------------------------*/

.blog-page .blog .inner {
	margin-top:45px;
}
.blog-page .blog {
	background-color:transparent;
	color:#9fa9b3;
	font-size:16px;
}
.blog-page .blog .posts {
	float:left;
	width:60%;
	text-align:left;
}
.blog-page .blog img {
	width:100%;
	height:auto
}
.blog-page .blog .info {
	margin-top:25px;
	margin-bottom:40px;
}
.blog-page .blog .info ul {
	float:left;
	width:36%;
	font-size:14px;
	margin-top:40px;
}
.blog-page .blog .info ul li {
	margin-bottom:4px;
}
.blog-page .blog .info .text {
	float:right;
	width:60%;
}
.blog-page .blog .info h2 a{
	font-size:16px;
	color:#67737e
}
.blog-page .blog .info p {
	font-size:14px;
	margin-top:20px;
	line-height:19px;
}

/* Blog Sidebar*/

.sidebar {
	float:right;
	width:27%;
	text-align:left
}
.sidebar .ad {
	float:right;
	margin:0 0 10px 10px;
	width:125px;
	height:125px;
	background-color:#505f6b;
	text-align:left
}
@media all and (max-width: 700px) {
	.sidebar {
		display:none
	}
	.blog-page .blog .posts {
		width:100%;
	}
	.blog-page .blog .info ul {
		display:none
	}
	.blog-page .blog .info .text {
		width:100%;
	}
}
/*-------------------------------------------------------------------------*/
/* Blog Single */
/*-------------------------------------------------------------------------*/

.single-blog .blog .inner {
	margin-top:45px;
}
.single-blog .blog {
	background-color:transparent;
	color:#9fa9b3;
	font-size:16px;
}
.single-blog .blog .posts {
	float:left;
	width:60%;
	text-align:left;
}
.single-blog .blog img {
	width:100%;
	height:auto
}
.single-blog .blog .info {
	margin-top:25px;
	margin-bottom:40px;
}
.single-blog .blog .info .text {
	float:right;
	width:100%;
}
.single-blog .blog .info h1 {
	font-size:16px;
	color:#67737e
}
.single-blog .blog .info p {
	font-size:14px;
	margin-top:20px;
	line-height:19px;
}
@media all and (max-width: 700px) {
	.sidebar {
		display:none
	}
	.single-blog .blog .posts {
		width:100%;
	}
	.single-blog .blog .info ul {
		display:none
	}
	.single-blog .blog .info .text {
		width:100%;
	}
}
/*-------------------------------------------------------------------------*/
/* Contact Page */
/*-------------------------------------------------------------------------*/

.contact-page .contact .inner {
	margin-top:45px;
}
.contact-page .contact .form {
	float:left;
	width:45%;
	text-align:left;
}
.contact-page .contact p {
	float:left;
	width:45%;
	text-align:left;
}
.contact-page .contact input[type=text] {
	float:left;
	padding:10px;
	border:#1e2934 solid 1px;
	background-color:none;
	width:100%;
	border-radius:2px;
	margin-right:2px;
	margin-bottom:7px;
	color:#a4aeb7
}
.contact-page .contact select {
	float:left;
	padding:10px;
	border:#1e2934 solid 1px;
	background-color:none;
	width:100%;
	border-radius:2px;
	margin-right:2px;
	margin-bottom:7px;
	color:#a4aeb7
}
.contact-page .contact textarea {
	float:left;
	padding:10px;
	border:#1e2934 solid 1px;
	background-color:none;
	width:100%;
	height:75px;
	border-radius:2px;
	margin-right:2px;
	margin-bottom:7px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:2px;
	color:#a4aeb7
}
.contact-page .contact input[type=submit] {
	float:left;
	background-color:#1e2934;
	color:#FFF;
	font-size:14px;
	padding:10px 20px;
	position:relative;
	border-radius:2px;
	border-style:none;
	cursor:pointer;
	margin:3px 0 0 0;
}
.contact-page .contact input[type=submit]:hover {
	background-color:#45c7d3;
	color:#FFF
}
.contact-page .contact .address {
	width:45%;
	float:right;
	text-align:left;
}
.contact-page .contact ul {
	margin-bottom:20px;
}
.contact-page .contact li {
	margin-top:10px;
	color:#97a4b0
}
.contact-page #name-error, #email-error, #message-error, #error {
	display: none;
	background-color:#f6ded8;
	float:left;
	width:100%;
	text-align:left;
	padding:10px;
	border-radius:2px;
	border:1px solid #f6ded8;
	color:#1e2934;
	margin-top:-3px;
	margin-bottom:10px;
}
.contact-page #success {
	display: none;
	background-color:#dcf6d8;
	float:left;
	width:100%;
	text-align:left;
	padding:20px 0px 20px 20px;
	border-radius:2px;
	border:1px solid #dcf6d8;
	color:#1e2934;
	margin-bottom:10px;
}
.contact-page #loader {
	display: none;
	float:left;
	width:50%;
	padding:15px;
}
@media all and (max-width: 700px) {
	.contact-page .contact .address {
		width:94%;
		float:left;
		margin-top:25px;
	}
	.contact-page .contact .form {
		width:94%;
	}
}
